@model List<MongoDBMapReduceProject.Models.Article>
@{
    ViewBag.Title = "News Portal";
}

<div>
    @foreach (var article in Model)
    {
        using (Html.BeginForm("Index", "Home", FormMethod.Post, new { enctype = "multipart/form-data" }))
        {
            <div class="row">
                <div class="col-md-4">
                    @if (article.Image != null)
                    {
                        string imageString = Convert.ToBase64String(article.Image);
                        var source = string.Format("data:image/gif;base64,{0}", imageString);
                        <img src="@source" class="img-rounded" style="max-height:300px; max-width:300px; margin-top:10%" />
                    }
                    @Html.TextBox("id", article.Id, new { @style = "display:none" })

                </div>
                <div class="col-md-7">
                    <div class="row">
                        <h2>@article.Headline</h2>
                        <p>@article.Body</p>
                        <p style="text-align:right; font-size:small">(@article.Author)</p>
                        <div style="overflow:auto; max-height: 150px;font-size:small">
                            @if (article.Comments != null)
                            {
                                foreach (var comment in article.Comments)
                                {
                                    <div class="text-info">@comment.Timestamp : @comment.Text</div>
                                }
                            }
                            @Html.TextBox("comment", "", new { @placeholder = "Write a comment" })
                            <input class="btn btn-default" type="submit" value="Submit comment" name="comment" />
                        </div>
                    </div>
                </div>
            </div>
        }
    }
</div>